<body class="page_body">
        <%= render 'shared/messageflash'%>


    <% @user_inventory.each do |inventory| %>
    
        <%= render 'shared/inventorycard', :inventory => inventory%>
    
    <%  end %>
    

</body>