<h1><%= @public_recipes.name%></h1>
    <div class="d-flex flex-row">
    <div>
        <p>Preparation_time: 1 hour</p>
        <p>Cooking_time: 1 hour</p>
    </div>

<div class="custom-control custom-switch ml-5">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Public</label>
</div>
    </div>

<div>
    <button type="button" class="btn btn-primary">Generate shooping List</button>
    <button type="button" class="btn btn-primary">Add Ingredient</button>
</div>

