    <div class="blog-slider new-shadow new-height">

<div class="recipe-info-container">
    <div class="recipe-title-container">
    <h2><%= inventory.name %></h2>
<button class="button-29 delete_button_style" role="button">Delete</button>
    </div>
    <div class="recipe-description-container">
    <span class="recipe-description">
    This is the description for the recipe, this is a very good recipe for all the family...
    </span>
    </div>
    </div>
    </div>