 <li class="mobileMenuItems">
            <a href="#contact" class="mobileMenuItems-a">
            <%= link_to link do %>

      
<button class="optionMenu" role="button">              <%= name %></button>
              <%end%>
            </a>
          </li>