 <div class="mobileMenuCover" id="mobileMenuCover">
      <div class="firstContainer">
        <span id="closeButton" onClick="closeMenu()" class="closeButton">X</span>
      </div>
      <div class="mobileMenu">
        <ul>
          <li class="mobileMenuItems">
            <a href="#portfolio" class="mobileMenuItems-a">Portfolio</a>
          </li>
          <li class="mobileMenuItems">
            <a href="#about" class="mobileMenuItems-a">About</a>
          </li>
          <li class="mobileMenuItems">
            <a href="#contact" class="mobileMenuItems-a">Contact</a>
          </li>
        </ul>
      </div>
    </div>