<div class="projectDetailsModal gray" id="modal">
          <span class="close-modal"  onclick="toggleModal()">x</span>
          <%= form_with url: shopping_show_path(params[:recipe_id]) do |f| %>
    <div>
      <%= f.label :inventory_id, 'Inventory' %><br>
      <% inventory_array = @inventory.map { |f| [f.name, f.id] } %>
      <%= f.select(:inventory_id, options_for_select(inventory_array)) %>
    </div>
    
    <div>
      <%= f.submit 'Create shopping list', class: "button-29" %>
    </div>
  <% end %>
</div>