.page_body {
  background-color: #ffe53b;
  background-image: linear-gradient(170deg, #1c92d2 0%, #c3f1fa 74%);
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: 15px auto;
  background: #fff;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: auto;
  min-height: 150px;
  transition: all 0.3s;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 12px;
}

.title-center {
  text-align: center;
}

.error_color {
  color: red;
}

.flashMessage {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.link_style {
  color: #000;
  text-decoration: none;
}

.session_buttons {
  display: flex;
  padding: 20px;
  gap: 60px;
  justify-content: center;
}

.new-inventory-button {
  text-align: center;
}