.mobileMenuCover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #6070ff;
  height: 100vh;
  opacity: 0.8;
  display: none;
  z-index: 2;
}

.firstContainer {
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
  font-size: 24px;
  color: antiquewhite;
}

.mobileMenuItems {
  list-style: none;
  margin-top: 30px;
}

.mobileMenuItems-a {
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.closeButton {
  cursor: pointer;
}

@keyframes open-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes close-menu {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 0.8;
  }
}

.menu-gradient-button-container {
  text-align: center;
  margin: 25px;
}

.menu-gradient-button {
  background-image: radial-gradient(100% 100% at 100% 0, #5468ff 0, #23d5ad 100%);
  background-size: 400% 400%;
  animation-name: gradient;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.optionMenu {
  background: transparent;
  border: 0;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.optionMenu:hover {
  text-decoration: underline;
}
