.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.recipe-card {
  width: 60%;
  height: 80px;
  padding: 15px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid lightslategray;
}

.recipe-card-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-info h3 {
  margin: 0;
}

/* new recipes */
.new-recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 50vh;
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 30%;
}

.recipe-text {
  margin: 8px 0;
}
