.signup_page_body {
    background-color: #ffe53b;
    background-image: linear-gradient(170deg, #1c92d2 0%, #c3f1fa 74%);
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: 15px auto;
    background: #fff;
    box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: auto;
    min-height: 150px;
    transition: all 0.3s;
  }


.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 12px;
  }

.title-center {
    text-align: center;
  }


  
h2.background {
    position: relative;
    z-index: 1;
  }
  
  h2.background::before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  
  h2.background span {
    background: #fff;
    padding: 0 15px;
  }
  
  h2.double::before {
    border-top: none;
  }
  
  h2.double::after {
    border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
  }

  
  .session-input-container {
    margin: 13px;
  }
  
  .session-input-container input {
    width: 100%;
    font-size: 18px;
  }

  .links-align {
    text-align: center;
  }
  
  .inner-spacing {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
 
  .button_margin {
    margin-top: 15px;
  }
    