.shopping-info-container {
  display: flex;
  flex-direction: column;
}

.shopping-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}

.shopping-row span {
  font-size: 20px;
}
